body{
	width: 100%;
	margin: 20;
	padding: 0;
}


#warning
{
	color: red;
}

h1
{
	color: blue;
}
body
{
	background-image: url("weed-background.jpg");
}

#logo
{
	margin-left: 800px;
	right: 50;
	width: 200px;
	height: 200px
}
