body{
	background-image: url("broken-glass.jpg");
	text-align: center;
}
.info{
	color:rgb(255, 0, 0);
	font-size: 40px;
	text-align: center;
}
.titre{
	color: rgb(255, 0, 0);
	font-size: 75px;
	text-align: center;
}

button{
	background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}